:host {
  position: sticky;
  top: 100px;
  .summary-details {
    & > div {
      display: flex;
      line-height: 2;
      & > label:first-of-type {
        width: 60%;
      }

      & > label:last-of-type {
        width: 40%;
        text-align: right;
      }
    }
  }
}
