:host {
  display: grid;
  place-content: center;
  height: 100vh;

  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: 300px;
    padding: 25px;
    background-color: #fff;
    box-shadow: 10px 10px 5px #fff;

    & > div {
      margin: 5px 0;
    }
  }
}
