:host {
  app-address {
    ::ng-deep {
      & > div {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
