:host {
  width: 100%;
  .payment-options {
    width: 100%;

    .payment-methods {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  ::ng-deep {
    app-step-container {
      display: block;
      padding: 15px;
    }
  }
}
