:host {
  position: sticky;
  top: 50px;
  .summary-details {
    & .summary-line {
      display: flex;
      line-height: 3;
      & > label:first-of-type {
        width: 60%;
      }

      & > label:last-of-type {
        width: 40%;
        text-align: right;
      }
    }

    .checkout-flow-entry-container {
      padding: 15px 0;
      button {
        width: 100%;
      }
    }
  }
}
