.task-card:has(input:not(:checked)) {
  border: 1px solid #ff0000;
}

.task-card:has(input[type="checkbox"]:has(:checked)) {
  border: 1px solid green;
}

.app-body {
  margin-top: 50px;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 1;
  height: 50px;
  justify-content: space-between;
  align-items: center;

  app-header {
    width: 95%;
  }
  app-auth-btn {
    margin-right: 15px;
  }
}
