:host {
  // position: fixed;
  // top: 70px;

  padding: 10px 25px;
  overflow: auto;

  .checkout-page {
    width: 95%;
    padding: 15px;
    display: flex;
    gap: 5px;
    .cart-summary {
      width: 30%;
    }
    .checkout-steps {
      width: 70%;
    }
  }
}
