<div class="h-100">
  <div class="h-100">
    <div class="item-images h-100">
      <div class="preview-box h-100" *ngIf="preview">
        <div
          class="preview-window"
          *ngFor="let image of images; let i = index"
          [ngClass]="{ 'active-image': currentIndex === i }"
          [ngStyle]="{
            'background-image': 'url(' + image + ')',
            height: previewHeight
          }"
          (click)="setImage(i)"
        ></div>
      </div>
      <div
        class="image-item"
        [ngStyle]="{
          'background-image': 'url(' + currentImage + ')',
          width: preview ? '90%' : '100%'
        }"
        *ngIf="currentImage"
      ></div>
    </div>

    <div class="image-dots">
      <button
        class="dot"
        *ngFor="let image of images; let i = index"
        [ngClass]="{ 'active-image': currentIndex === i }"
        (click)="setImage(i)"
      ></button>
    </div>
  </div>
</div>
